<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/analyze_review" method="post">
    <!--<input type="text" name="reviewText" value="" />-->
    <textarea name="reviewText" rows="4" cols="50"></textarea>
    <input type="submit" />
</form>